/* container */
#splashcloud {
  width:500px;
  font-family:verdana;
  /* debug border:1px solid red; */
  margin-top:100px;
  padding:0px;
  height:500px;
}

span.vertical {
  margin:5px;
  float:left;
  display:block;
  transform:rotate(-90deg);
  -ms-transform:rotate(-90deg); /* IE 9 */
  -moz-transform:rotate(-90deg); /* Firefox */
  -webkit-transform:rotate(-90deg); /* Safari and Chrome */
  -o-transform:rotate(-90deg); /* Opera */
}

span.horizontal {
  float:left;
  margin:0px;
  display:block;
}

/* debug 
span {
  border:1px blue solid;
} */


/* links decoration */
a:link {
  text-decoration: none;
  color:black;
}

a:hover {
  text-decoration:none;
  color:#3300FF;
}
