/* container */
#splashcloud {
  font-family:verdana;
  border:1px solid red;
  margin-top:100px;
  padding:0px;
  height:500px;
}

span.vertical {
  margin:0px;
  float:left;
  display:block;
  -webkit-transform:rotate(-90deg);
}

span.horizontal {
  margin:10px;
  display:block;
  -webkit-transform:rotate(0deg);
}

/* debug */
span {
  border:1px blue solid;
}


/* links decoration */
a:link {
  text-decoration: none;
  color:black;
}

a:hover {
  text-decoration:none;
  color:blue;
}
